extends layout/base

block main
  block navbar
    include includes/navbar.pug
    include includes/left_navbar.pug

    .content-wrapper
      include includes/breadcumb.pug
      include includes/content_4_cards.pug

      section.content
        .row
          include includes/content_monitoring.pug
          include includes/to_do_list.pug

        .row
          include includes/accardion.pug
          include includes/member_list.pug
          include includes/social_widget.pug
