.col-lg-8
  .card.card-warning.card-outline
    .card-header
        h.card-title
          i.fas.fa-desktop.mx-3
          | Monitoring
        .card-tools
          ul.nav.nav-pills.d-flex.justify-content-end
            li.nav-item
              a.nav-link.active(href='#tabMenu', data-toggle='tab') Menu
            li.nav-item
              a.nav-link(href='#tabBlog', data-toggle='tab') Blog
            li.nav-item
              a.nav-link(href='#revenue-blog', data-toggle='tab') Admin
    .card-body
      .row
        .table-responsive
          .tab-content
            table#tabMenu.table.table-striped.tab-pane.active.container
              thead
                tr
                  th(scope='col') #
                  th(scope='col') First
                  th(scope='col') Last
                  th(scope='col') Handle
                  th(scope='col') Coba
                  th(scope='col') Status
                  th(scope='col') Description
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                  td @md1
                  td
                    span.badge.badge-info prosess
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                  td @md1
                  td 
                    span.badge.badge-danger Failed
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs
                tr
                  th(scope='row') 4
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs
                tr
                  th(scope='row') 5
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs
            table#tabBlog.table.table-striped.tab-pane.container
              thead
                tr
                  th(scope='col') #
                  th(scope='col') Linux
                  th(scope='col') Windows
                  th(scope='col') Mac OS
                  th(scope='col') Coba
                  th(scope='col') Status
                  th(scope='col') Description
              tbody
                tr
                  th(scope='row') 1
                  td Mark
                  td Otto
                  td @mdo
                  td @md1
                  td Process
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 2
                  td Jacob
                  td Thornton
                  td @fat
                  td @md1
                  td @Failed
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 3
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 4
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                tr
                  th(scope='row') 5
                  td Larry
                  td the Bird
                  td @twitter
                  td @facebook
                  td Rollback
                  td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    

      