section.content
  .row
    .col-lg-8
      .card
        .card-header
            h.card-title
              i.fas.fa-desktop.mx-3
              | Monitoring
            .card-tools
              ul.nav.nav-pills.d-flex.justify-content-end
                li.nav-item
                  a.nav-link.active(href='#tabMenu', data-toggle='tab') Menu
                li.nav-item
                  a.nav-link(href='#tabBlog', data-toggle='tab') Blog
                li.nav-item
                  a.nav-link(href='#revenue-blog', data-toggle='tab') Admin
        .card-body
          .row
            .table-responsive
              .tab-content
                table#tabMenu.table.table-striped.tab-pane.active.container
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') First
                      th(scope='col') Last
                      th(scope='col') Handle
                      th(scope='col') Coba
                      th(scope='col') Status
                      th(scope='col') Description
                  tbody
                    tr
                      th(scope='row') 1
                      td Mark
                      td Otto
                      td @mdo
                      td @md1
                      td Process
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    tr
                      th(scope='row') 2
                      td Jacob
                      td Thornton
                      td @fat
                      td @md1
                      td @Failed
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    tr
                      th(scope='row') 3
                      td Larry
                      td the Bird
                      td @twitter
                      td @facebook
                      td Rollback
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.

                table#tabBlog.table.table-striped.tab-pane.container
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') Linux
                      th(scope='col') Windows
                      th(scope='col') Mac OS
                      th(scope='col') Coba
                      th(scope='col') Status
                      th(scope='col') Description
                  tbody
                    tr
                      th(scope='row') 1
                      td Mark
                      td Otto
                      td @mdo
                      td @md1
                      td Process
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    tr
                      th(scope='row') 2
                      td Jacob
                      td Thornton
                      td @fat
                      td @md1
                      td @Failed
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    tr
                      th(scope='row') 3
                      td Larry
                      td the Bird
                      td @twitter
                      td @facebook
                      td Rollback
                      td Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                    
    .col-lg-4
      .card
        .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

  .row
    .col-lg-12
      .card-group
        .card
          img.card-img-top(src='...', alt='Card image cap')
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-muted Last updated 3 mins ago
        .card
          img.card-img-top(src='...', alt='Card image cap')
          .card-body
            h5.card-title Card title
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            p.card-text
              small.text-muted Last updated 3 mins ago
        .card
          img.card-img-top(src='...', alt='Card image cap')
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            p.card-text
              small.text-muted Last updated 3 mins ago


      