.col-md-4
  .card.card-warning.card-outline
    .card-header
      h3.card-title Latest Members
      .card-tools
        span.badge.badge-danger 8 New Members
        button.btn.btn-tool(type='button', data-card-widget='collapse')
          i.fas.fa-minus
        //button.btn.btn-tool(type='button', data-card-widget='remove')
          i.fas.fa-times
    // /.card-header
    .card-body.p-0
      ul.users-list.clearfix
        li
          img(src='dist/img/user1-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Alexander Pierce
          span.users-list-date Today
        li
          img(src='dist/img/user8-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Norman
          span.users-list-date Yesterday
        li
          img(src='dist/img/user7-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Jane
          span.users-list-date 12 Jan
        li
          img(src='dist/img/user6-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') John
          span.users-list-date 12 Jan
        li
          img(src='dist/img/user2-160x160.jpg', alt='User Image')
          a.users-list-name(href='#') Alexander
          span.users-list-date 13 Jan
        li
          img(src='dist/img/user5-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Sarah
          span.users-list-date 14 Jan
        li
          img(src='dist/img/user4-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Nora
          span.users-list-date 15 Jan
        li
          img(src='dist/img/user3-128x128.jpg', alt='User Image')
          a.users-list-name(href='#') Nadia
          span.users-list-date 15 Jan
      // /.users-list
      // /.card-body
      .card-footer.text-center
        a(href='javascript::') View All Users
      // /.card-footer
      // /.card
