link(rel='stylesheet' href='dist/css/datepicker.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css')


.col-md-4
  .card.card-warning.card-outline
    .card-header
      h3.card-title
        i.ion.ion-clipboard.mr-1
        |   To Do List
      .card-tools
        ul.pagination.pagination-sm
          li.page-item
            a.page-link(href='#') «
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') »
    // /.card-header
    .card-body
      ul.todo-list(data-widget='todo-list')
        li
          // drag handle
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          // checkbox
          .icheck-primary.d-inline.ml-2
            input#todoCheck1(type='checkbox', value='', name='todo1')
            label(for='todoCheck1')
          // todo text
          span.text Design a nice theme
          // Emphasis label
          small.badge.badge-danger
            i.far.fa-clock
            |  2 mins
          // General tools such as edit or delete
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
        li
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          .icheck-primary.d-inline.ml-2
            input#todoCheck2(type='checkbox', value='', name='todo2', checked='')
            label(for='todoCheck2')
          span.text Make the theme responsive
          small.badge.badge-info
            i.far.fa-clock
            |  4 hours
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
        li
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          .icheck-primary.d-inline.ml-2
            input#todoCheck3(type='checkbox', value='', name='todo3')
            label(for='todoCheck3')
          span.text Let theme shine like a star
          small.badge.badge-warning
            i.far.fa-clock
            |  1 day
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
        li
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          .icheck-primary.d-inline.ml-2
            input#todoCheck4(type='checkbox', value='', name='todo4')
            label(for='todoCheck4')
          span.text Let theme shine like a star
          small.badge.badge-success
            i.far.fa-clock
            |  3 days
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
        li
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          .icheck-primary.d-inline.ml-2
            input#todoCheck5(type='checkbox', value='', name='todo5')
            label(for='todoCheck5')
          span.text Check your messages and notifications
          small.badge.badge-primary
            i.far.fa-clock
            |  1 week
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
        li
          span.handle
            i.fas.fa-ellipsis-v
            i.fas.fa-ellipsis-v
          .icheck-primary.d-inline.ml-2
            input#todoCheck6(type='checkbox', value='', name='todo6')
            label(for='todoCheck6')
          span.text Let theme shine like a star
          small.badge.badge-secondary
            i.far.fa-clock
            |  1 month
          .tools
            i.fas.fa-edit
            i.fas.fa-trash-o
    // /.card-body
    .card-footer.clearfix
      button.btn.btn-info.float-right(type='button', data-toggle='modal', data-target='#formAddToDoList')
        i.fas.fa-plus
        |  Add item

      #formAddToDoList.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#ToDoModalLabel.modal-title Add Todo 
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form
                .form-group
                  label(for='name') Name
                  input#name.form-control(type='text', aria-describedby='todoHelp', placeholder='Enter Todo')
                  small#todoHelp.form-text.text-muted You must input todo
                .form-group
                  label(for='exampleInputPassword1') Author
                  input#author.form-control(type='text', aria-describedby='authorHelp', placeholder='Author')
                  small#authorHelp.form-text.text-muted Only author registered in system
                .form-row
                  .col
                    label Start Todo
                      span.badge.badge-pill.badge-success.mx-2 &nbsp
                    .input-group
                      .input-group-prepend
                        button#toggleStart.input-group-text(type='button')
                          i.fa.fa-calendar-alt
                      input#startTodo.form-control.float-right(type='text')

                  .col
                    label End Todo
                      span.badge.badge-pill.badge-danger.mx-2 &nbsp
                    .input-group
                      .input-group-prepend
                        button#toggleEnd.input-group-text(type='button')
                          i.fa.fa-calendar-alt
                      input#endTodo.form-control.float-right(type='text')

            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js')

script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js')

script(type='text/javascript').

  //for Start date todo
  $('#startTodo').datetimepicker({
    timepicker: true,
    datepicker: true,
    format: 'Y-m-d H:i',
    onShow: function(ct) {
      this.setOptions({
        maxDate: $('#endTodo').val() ? $('#endTodo').val() : false
      })
    }
  })

  $('#toggleStart').on('click', function() {
    $('#startTodo').datetimepicker('toggle')
  });

  // for End date todo
  $('#endTodo').datetimepicker({
    timepicker: true,
    datepicker: true,
    format: 'Y-m-d H:i',
    onShow: function(ct) {
      this.setOptions({
        minDate: $('#startTodo').val() ? $('#endTodo').val() : false
      })
    }
  })

  $('#toggleEnd').on('click', function() {
    $('#endTodo').datetimepicker('toggle')
  })